{{ ansible_managed | comment }}

# MinIO local/remote volumes.
{% if minio_server_args | length > 0 %}
MINIO_ARGS="{{ minio_server_args | join(' ') }}"
{% endif %}
# MinIO cli options.
MINIO_OPTS="--address {{ minio_server_addr }} {{ minio_server_opts }}"

{% if minio_root_username %}
# Root User of the server.
MINIO_ROOT_USER="{{ minio_root_username }}"
{% endif %}
{% if minio_root_password %}
# Root Password of the server.
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}

{{ minio_server_env_extra }}
